<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
    <main>
        <%- include('partials/header.ejs') %>
        <section class="info">
            <h2>Share files between devices and other people.</h2>
        </section>
        <div class="container">
            <form action="/upload" method="post" enctype="multipart/form-data" id="upload-form">
                <div class="input-container">
                    <input type="file" id="file-upload" name="file" value="file-data" required >
                    <label for="file-upload">
                        <svg class="folder-icon" fill="#000000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 30 30" width="50px" height="50px"><path d="M26 25H4c-1.105 0-2-.895-2-2V11c0-.552.448-1 1-1h24c.552 0 1 .448 1 1v12C28 24.105 27.105 25 26 25zM4 3h4.868c.703 0 1.354.369 1.715.971L13 8H2V5C2 3.895 2.895 3 4 3z"/><path d="M26,5H2v3h26V7C28,5.895,27.105,5,26,5z"/></svg>
                        <span>Choose to upload documents, photos and videos.</span>
                    </label>
                </div>
                <div class="wrapper">
                    <div class="file-info-wrapper">
                        <figure class="file-info">
                            <svg id="file-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" width="40px" height="35px"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M0 64C0 28.65 28.65 0 64 0H224V128C224 145.7 238.3 160 256 160H384V448C384 483.3 355.3 512 320 512H64C28.65 512 0 483.3 0 448V64zM256 128V0L384 128H256z"/></svg>
                            <span id="file-info-picture"></span>
                            <figcaption class="figure-caption">Picture 1</figcaption>
                        </figure>
                        <input type="submit" value="Upload" class="btn" />
                    </div>
                    <p class="loading-file">Loading file...</p>
                </div>
                <div class="uploading-loader-container">
                    <p>Uploading... Please wait!</p>
                    <span class="loader"></span>
                </div>
                <input type="text" value="<%= token %>" name="token" class="token">
            </form>
        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
    <script src="./assets/main.js"></script>
</body>
</html>