<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
    <main>
        <div class="container">
            <h1>F Share</h1>
            <form action="/upload" method="post" enctype="multipart/form-data" id="upload-form">
                <input type="file" id="file-upload" name="file" value="file-data" required >
                <input type="submit" />
            </form>
        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
    <script src="./assets/main.js"></script>
</body>
</html>