<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
    <h1>File</h1>
    <main>
        <div class="container">
            <% if (error) { %>
                <p class="error-message"><%= error %></p>
                <a href="/" title="Homepage">Go back</a>
            <% } else { %>
                <% if (file.isImage) { %>
                    <img src="<%= file.downloadURL %>" alt="picture" class="img" />
                <% } %>
                <h5>Share URL</h5>
                <p id="share-url"><%= file.shareURL %></p>
                <div class="qr-code"></div>
            <% } %>
        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
    <script>
        const shareURL = document.querySelector('#share-url');
        const qrContainer = document.querySelector('.qr-code');

        shareURL && new QRCode(qrContainer, shareURL.textContent);
    </script>
</body>
</html>