<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="./assets/main.css">
    <title>Document</title>
</head>
<body>
    <h1>File</h1>
    <main>
        <div class="container">
            <% if (error) { %>
                <p class="error-message"><%= error %></p>
                <a href="/" title="Homepage">Go back</a>
            <% } else { %>
                <% if (data.isImage) { %>
                    <img src="<%= data.fileURL %>" alt="picture" class="img" />
                <% } %>
                <h5>Share URL</h5>
                <p id="share-url"><%= data.shareURL %></p>
                <div class="qr-code"></div>
            <% } %>
        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
    <script>
        const shareURL = document.querySelector('#share-url');
        const qrContainer = document.querySelector('.qr-code');

        shareURL && new QRCode(qrContainer, shareURL.textContent);
    </script>
</body>
</html>