@import './main.css';

main .info {
    /* max-width: 500px; */
    margin: 2.5em 0;
}

main .info > h2 {
    margin: 0;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    color: var(--primary-color);
    line-height: 1.3em;
}

form {
    background: var(--secondary-background);
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    padding: 1.7em;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 550px;
    position: relative;
}

form .input-container {
    background: var(--form-background-color);
    border-radius: 8px;
    box-sizing: border-box;
    border: 2px dashed var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 210px;
    transition: border-color 0.2s ease-in-out;
}

.input-container:hover {
    border-color: rgba(0, 0, 0, 0.3);
}

.input-container:hover .folder-icon {
    transform: scale(1.2);
}

.input-container .folder-icon {
    fill: var(--blue);
    transition: transform 0.6s cubic-bezier(.28,1.29,0,1.76);
}

.input-container #file-upload {
    display: none;
    width: 100%;
}

.input-container label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--primary-color);
    cursor: pointer;
    font-weight: 400;
    font-size: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.input-container label > span {
    padding: 1em;
}

.input-container .line {
    width: 100%;
    height: 2px;
    background: var(--secondary-color);
}

form .token {
    display: none;
}

form .wrapper {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    position: relative;
}

form .wrapper .loading-file {
    color: var(--primary-color);
    font-size: 1.1em;
    margin: 0;
    position: absolute;
    top: 50%;
    lefT: 50%;
    transform: translate(-50%, -50%);
}

form .wrapper .file-info-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translateY(-100%);
}

form .file-info {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 1.7em 0;
}

form .file-info #file-info-picture {
    background-size: cover;
    border-radius: 8px;
    width: 70px;
    height: 50px;
}

form .file-info #file-icon {
    fill: var(--primary-color);
}

form .file-info .figure-caption {
    color: var(--primary-color);
    margin: 0 0 0 1em;
}

form .uploading-loader-container {
    color: var(--secondary-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--loader-background);
    border-radius: 8px;
    text-align: center;
    display: none;
    align-items: center;
    flex-direction: column;
}

form .uploading-loader-container > p {
    margin: 3em 0 0 0;
}

.show {
    animation: fromTop 0.5s cubic-bezier(.4,1.01,.42,1.02) forwards;
}
@keyframes fromTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.loader {
    width: 100%;
    height: 4.8px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.loader::after {
    content: '';
    width: 96px;
    height: 4.8px;
    background: var(--secondary-color);
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    animation: hitZak 0.6s ease-in-out infinite alternate;
}
  
@keyframes hitZak {
    0% {
        left: 0;
        transform: translateX(-1%);
    }
    100% {
        left: 100%;
        transform: translateX(-99%);
    }
}

@media only screen and (max-width: 700px) {
    form {
        padding: 1em;
    }
    
    .input-container label {
        font-size: 1em;
    }
}