@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
    --background: #F3F3FB;
    --secondary-background: #FFFEFF;
    --primary-color: #374957;
    --secondary-color: #DEDFE3;
    --text: #283237;
    --form-background-color: #F1F5FA;
    --blue: #4253F6;
}

body {
    background-color: var(--background);
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

main {
    max-width: 850px;
    margin: 0 auto;
}

main .container {
    display: flex;
    justify-content: center;
}

.btn {
    background: var(--blue);
    color: var(--secondary-background);
    border: none;
    border-radius: 6px;
    padding: 0.8em 1.5em;
    cursor: pointer;
    font-size: 0.9em;
}