@import './main.css';

h5 {
    margin: 1em 0;
}

h5.small {
    font-size: 0.95em;
}

.error-container {
    text-align: center;
    margin: 5em 0;
}

.error-message {
    margin: 2em 0;
    font-size: 1.5em;
    color: var(--primary-color);
}

.error-container a {
    text-decoration: none;
}

.file-section {
    flex: 1;
}

.horizontal-line {
    color: var(--primary-color);
    font-weight: 700;
    position: relative;
    width: 100%;
    margin: 2em 0;
}

.horizontal-line::before, .horizontal-line::after {
    content: '';
    background: var(--secondary-color);
    display: inline-block;
    width: 175px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 0;
}

.horizontal-line::after {
    right: 0;
    left: auto;
}

.file-section figure {
    display: flex;
    flex-direction: column;
    background: var(--secondary-background);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.02);
    border: 1px solid var(--secondary-color);
    padding: 1em;
    margin: 0 auto;
    overflow-wrap: break-word;
}

.file-section figure .img {
    width: 100%;
    height: auto;
}

.file-section figure figcaption {
    margin: 1em 0 0 0;
    text-align: center;
    color: var(--primary-color);
}

.file-section .file-icon {
    fill: var(--text);
    margin: 0 auto;
}

.share-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: var(--primary-color);
}

.share-section .share-url-wrapper {
    background: var(--secondary-background);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.02);
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.share-url-wrapper .copy-btn {
    background: transparent;
    border: none;
    border-left: 1px solid var(--secondary-color);
    cursor: pointer;
    padding: 1em 1.1em;
}

.copy-btn svg {
    fill: var(--primary-color);
    transition: fill 0.1s ease-in-out;
}

.copy-btn:hover > svg {
    fill: var(--text);
}

.share-url-wrapper #share-url {
    margin: 0;
    padding: 0 1em;
    font-size: 0.95em;
}

.qr-code-share > p {
    margin: 0 0 2em 0;
}

@media only screen and (max-width: 700px) {
    .container {
        flex-direction: column;
    }

    .horizontal-line::before, .horizontal-line::after {
        width: 145px;
    }
}